
<nav class="navbar navbar-expand-lg navbar-dark" style="background:{{ admin.color }}">
    <a class="navbar-brand" href="{{ path('homepage') }}">Symilibnb</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">                   
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ads_index') }}">Annonces</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {# Si utilisateur logged in ou Out affiche moi tel ou tel contenu #}
            {% if app.user %}

            {# {{ dump(app.user) }} #}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link" id="accountDropdownLink" data-toggle="dropdown">
                    <img src="{{ app.user.picture }}" alt="avatar de {{ app.user.fullName }}" class="avatar avatar-mini">
                    {{ app.user.fullName }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropDownLink">
                        <a href="{{ path('ads_create') }}" class="dropdown-item">Add...</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('account_index') }}" class="dropdown-item">My account</a>
                        <a href="{{ path('account_profile') }}" class="dropdown-item">Edit profile</a>
                        {# dropdown divider pour fair une petite separation visuelle #}
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('account_logout') }}" class="dropdown-item">My account</a>
                    </div>

                </li>               
            {% else %}

                <li class="nav-item">
                    <a href="{{ path('account_register') }}" class="nav-link">Subscribe</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('account_login') }}" class="nav-link">Connection</a>
                </li>
                
            {% endif %}
        </ul>
    </div>
</nav>

{# {{ dump(app.flashes) }} #}
{# label = key et message = valeur #}
{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}